@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mr Cooper</h1>
    <h2>Escrow FPS</h2>
    <div class="container">
        <div class="row">
            <button asp-controller="Login" asp-action="Index" class="btn btn-primary">Login</button>
        </div>
        <div class="row">
            <button asp-controller="Unlock" asp-action="Index" class="btn btn-primary">Unlock</button>
        </div>
        <div class="row">
            <button asp-controller="ExtendedLock" asp-action="Index" class="btn btn-primary">Extended Lock</button>
        </div>
    </div>
    
    
    
</div>
